<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Mongoose Flights</title>
    
</head>
</body>
<nav>
    <ul>
        <a href="/">Home</a>
        <a href="/flights">All Flights</a>
        <a href="/flights/new">Add Flight</a>
    </ul>
</nav>
<main>