<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Mongoose Flights</title>
    
</head>
</body>
<nav>
    <ul>
        <a href="/">HOME</a>
        <a href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>>ADD FLIGHT</a>
        <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL FLIGHTS</a>
        <a href="/destinations/new" <%- title === 'Add Destination' ? 'class="active"' : '' %>>ADD DESTINATION</a>
    </ul>
</nav>
<main>
    <h1><%= title %></h1>