<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airport:
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Airline:
    <select name="airline">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      <option value="Spirit">Spirit</option>
      <option value="Delta">Delta</option>
    </select>
  </label><br>
  <label>FlightNo:
    <input type="text" name="flightNo">
  </label><br>
  <label>Departs:
    <input type="date" name="departs">
  </label><br>
  <label>
      
  </label>
  <label>Departed:
    <input type="checkbox" name="departed" checked>
  </label><br>
  <input type="submit" value="Add Flight">
</form>


</body>
</html>